<div id="contributing">
    {{#if page.attributes.authors}}
    <h3>These nice people helped write this page:</h3>
    <p class="contributors">{{page.attributes.authors}}</p>
    {{/if}}
    <p class="contribute">Want to help? <a href="https://docs.fedoraproject.org/en-US/fedora-docs/contributing-docs/">Learn how to contribute to Fedora Docs.</a></p>
</div>
