div.homepage-section h3,
div.homepage-section p {
    color: #fff;
    margin: 0;
}

div.homepage-section h3 {
    padding-bottom: 0.2em;
}

div.homepage-section a.homepage-link-primary h3 {
    font-size: 28px;
    font-weight: 400;
}

div.homepage-section a.homepage-link-secondary p {
    font-size: 16px;
}

div.homepage-section a.homepage-link-secondary h3 {
    font-size: 20px;
}

div.homepage-section a.homepage-link-secondary p {
    font-size: 14px;
}

div.homepage-section-container {
    display: flex;
    flex-wrap: wrap;
}

div.homepage-section a.homepage-link {
    display: block;
    padding: 16px;
    margin: 10px;
    border-radius: 10px;
}

.homepage-page {
    margin-top: 2.5em;
}

div.homepage-section a.homepage-link:hover {
    text-decoration: none;
}

div.homepage-section a.homepage-link-primary {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at 50% 50%,
    #294172 15%, #233862 70%) repeat scroll 0 0;
    flex: 1 1 300px;
}

div.homepage-section a.homepage-link-primary:hover {
    background-color: #ddd;
}

div.homepage-section a.homepage-link-secondary {
    background-color: #3c6eb4;
    font-size: 0.8em;
    flex: 1 1 200px;
}

/* div.homepage-section a.homepage-link-secondary:hover {
    background-color: #f3f3f3;
    font-size: 0.8em;
} */



div.home-page div.container-header {
    padding: 20px 10px 0;
}

div.home-page div.container-header h2{
    margin: 0;
    border: none;
    padding: 0;
}

.homepage-page div h2 {
    margin: 1em -1rem .3em;
    padding: .8rem 1.5rem!important;
    font-size: 34px!important;
    color: #294172!important;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),to(#ddd));
    background-image: linear-gradient(180deg,#eee,#ddd);
    border-bottom: none!important;
}

div.home-page div.container-releases,
div.home-page div.container-project,
div.home-page div.container-contributors {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

div.home-page div.container-releases a,
div.home-page div.container-project a,
div.home-page div.container-contributors a {
    display: block;
    background-color: #233862;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

div.home-page div.container-releases h3,
div.home-page div.container-project h3,
div.home-page div.container-contributors h3 {
    color: white;
}

div.home-page div.container-releases a {
    background-color: #173E77;
}

div.home-page div.container-project a {
    background-color: #680959;
}

div.home-page div.container-contributors a {
    background-color: #984F15;
}

div.home-page .flex-container a.container-big {
    flex: 500px;
}

div.home-page .flex-container a.container-small {
    flex: 200px;
}

div.home-page .flex-container a.container-third {
    flex: 1 1 500px;
}

div.home-page .flex-container h3, .flex-container p{
    margin: 10px;
}
