<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    {{#if (or antoraVersion site.antoraVersion)}}
    <meta name="generator" content="Antora {{or antoraVersion site.antoraVersion}}">
    {{/if}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/site.css">
{{> head}}
  </head>
  <body class="article">
{{> header}}
<div class="toolbar" role="navigation" style="background-color:white">
<nav class="crumbs" role="navigation" aria-label="breadcrumbs"></nav>
{{> page-languages}}
{{> page-versions}}
  {{#if page.editUrl}}
    {{#if (edit2var page.editUrl "history") }}
  <div class="edit-this-page"><a href="{{edit2var page.editUrl "history"}}" title="Page history"><i class="fas fa-history"></i></a></div>
    {{/if}}
  <div class="edit-this-page"><a href="{{page.editUrl}}" title="Edit this Page"><i class="fas fa-edit"></i></a></div>
    {{#if (edit2var page.editUrl "issue") }}
  <div class="edit-this-page"><a href="{{edit2var page.editUrl "issue"}}" title="Report an issue"><i class="fas fa-bug"></i></a></div>
    {{/if}}
  {{/if}}
</div>


<div class="main-wrapper">
  <main class="main" role="main">

<article class="doc" style="margin: 0; max-width: 100%;">
{{#if (eq page.layout '404')}}
<div class="paragraph">
<p>The page you're looking for does not exist. It may have been moved.</p>
</div>
<div class="paragraph">
<p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is broken.
If you typed the URL of this page manually, please double check that you entered the address correctly.</p>
</div>
{{else}}

{{{page.contents}}}
{{/if}}
</article>
  </main>
</div>


{{> footer}}
  </body>
</html>
